<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add goods</title>
</head>
<body>
<h1>Add goods</h1>
<form action="/goods/add" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name = "name">
    </div>
    <br/>
    <div>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price">
    </div>
    <br/>
    <div>
        <input type="submit" value="OK">
    </div>
</form>
<br/>
<#if errorMessage??>
    <div align="center">
        ${errorMessage}
    </div>
</#if>

</body>
</html>