<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>online-shop</title>
        <link rel="stylesheet" href="sources/styles.css">
    </head>
    <body background="images/goods.png">
        <h1>Hey, welcome! :)</h1>
        <pre>Please, do what you wanna do!
            Add products, change them or remove.
            Whatever you want.</pre>
        <br/>
        <div>
            <div>
            <a href="/goods/" class="btn btn-goods">Goods</a>
            </div>
            <br/>
            <div>
            <a href="/goods/add" class="btn btn-add">Add</a>
            </div>
            <br/>
            <div>
            <a href="/remove" class="btn btn-remove">Remove</a>
            </div>
            <br/>
            <div>
            <a href="/update" class="btn btn-update">Update</a>
            </div>
            <br/>
        </div>

            <br/>
            <form action="/" method="POST">
                <button type="submit" class="btn btn-logout">Logout</button>
            </form>
    </body>
</html>
